{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <main>
        <!--slider-area start-->
        <div class="slider-area pos-rel">
            <div class="slider-shape-one pos-abl"><img src="{% static 'asset/img/icon/leaf02.png' %}" alt=""></div>
            <div class="slider-shape-two pos-abl"><img src="{% static 'asset/img/icon/leaf2.png' %}" alt=""></div>
            <div class="slider-active">
                <div class="single-slider slider-height-02 d-flex align-items-center"
                     style="background-image: url({% static 'asset/slider2.png' %});">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="slider__content slider__content__02 pb-110 text-center">
                                    <span class="mb-10" data-animation="fadeInUp"
                                          data-delay=".4s">Site numérique d'</span>
                                    <h1 class="mb-65" data-animation="fadeInUp" data-delay=".5s">Agribusiness</h1>
                                    <ul class="btn-list">
                                        <li><a class="theme_btn" href="{% url 'register' %}" data-animation="fadeInUp"
                                               data-delay=".7s">Rejoindre</a></li>
                                        <li><a class="theme_btn border_btn" href="{% url 'login' %}"
                                               data-animation="fadeInUp" data-delay=".8s">plus d'info</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider slider-height-02 d-flex align-items-center"
                     style="background-image: url({% static 'asset/slider1.png' %});">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="slider__content slider__content__02 pb-110 text-center">
                                    <span data-animation="fadeInUp" data-delay=".4s">Site numérique d'</span>
                                    <h1 class="mb-60" data-animation="fadeInUp" data-delay=".5s">Agribusiness</h1>
                                    <ul class="btn-list">
                                        <li><a class="theme_btn" href="{% url 'register' %}" data-animation="fadeInUp"
                                               data-delay=".7s">Rejoindre</a></li>
                                        <li><a class="theme_btn border_btn" href="{% url 'login' %}"
                                               data-animation="fadeInUp"
                                               data-delay=".8s">plus d'info</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--slider-area start-->
        <!--catagory-area start-->
        <section class="catagory-area pos-rel pt-130 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-4 col-md-4 mb-40">
                        <a href="{% url 'about' %}">
                            <div class="catagory pos-rel text-center">
                                <div class="catagory__icon">
                                    <i class="flaticon-growth"></i>
                                </div>
                                <h6>Conseil</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 mb-40">
                        <a href="{% url 'formation' %}">
                            <div class="catagory pos-rel text-center">
                                <div class="catagory__icon">
                                    <i class="flaticon-pruning-shears"></i>
                                </div>
                                <h6>Formation</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 mb-40">
                        <a href="{% url 'about' %}">
                            <div class="catagory pos-rel text-center">
                                <div class="catagory__icon">
                                    <i class="flaticon-plant"></i>
                                </div>
                                <h6>Aide Financière</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 mb-40">
                        <a href="{% url 'project_page' %}">
                            <div class="catagory pos-rel text-center">
                                <div class="catagory__icon">
                                    <i class="flaticon-rake"></i>
                                </div>
                                <h6>Creation Projet</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 mb-40">
                        <a href="{% url 'formation' %}">
                            <div class="catagory pos-rel text-center">
                                <div class="catagory__icon">
                                    <i class="flaticon-planting"></i>
                                </div>
                                <h6>Terrain</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 mb-40">
                        <a href="{% url 'shop_page' %}">
                            <div class="catagory pos-rel text-center">
                                <div class="catagory__icon">
                                    <i class="flaticon-yard"></i>
                                </div>
                                <h6>Vente de Produit</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!--catagory-area end-->
        <!--about-landco start-->
        <section class="landco-future pb-95">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="section-title pl-45 mb-30">
                            <span class="left-line mb-15 pl-20">Agribusiness</span>
                            <h2 class="mb-35">5 Ans de pratiques dans les communes rurales de district de
                                Tolagnaro.</h2>
                            <p class="mb-30">(Commune Rurale Esaka Ivondro, Manambaro, Mandiso, …)<br>La direction
                                régionale d’agriculture et d’élevage Anôsy a des techniciens agricoles qui vivent dans
                                ces communes et ces techniciens jouent un rôle de conseilleur et de formateur des
                                paysans. Les techniciens ont fait l’appui conseil aux paysans au niveau de la technique
                                et surtout l’économique. </p>
                            <a href="{% url 'login' %}" class="theme_btn">Voir plus</a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="about__img__box pos-rel mb-30 pl-40">
                            <img class="img-fluid landco-img" src="{% static 'asset/img/about/about2.png' %}" alt="">
                            <div class="about__img__two pos-abl">
                                <img class="img-fluid" src="{% static 'asset/img/about/about-02.png' %}" alt="">
                            </div>
                            <div class="about__img--leaf d-none d-md-block pos-abl">
                                <img src="{% static 'asset/img/icon/leaf01.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--about-landco end-->
        <!--popular-service satrt-->
        <section class="popular-service pos-rel pb-90">
            <div class="popular-shape-one d-none d-md-block pos-abl"><img
                    src="{% static 'asset/img/service/service1.png' %}" alt="">
            </div>
            <div class="popular-shape-two d-none d-md-block pos-abl"><img
                    src="{% static 'asset/img/service/service2.png' %}" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 offset-xl-3">
                        <div class="section-title text-center mb-85">
                            <span class="mb-15">Notre Formation</span>
                            <h2 class="mb-30">Formation pour les paysans agriculteurs</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="popular mb-30">
                            <div class="popular__img pos-rel mb-70">
                                <div class="popoular__img__inner">
                                    <img src="{% static 'asset/img/feature/feat7.jpg' %}" alt="">
                                </div>
                                <div class="popular__img--icon">
                                    <i class="flaticon-gardening"></i>
                                </div>
                            </div>
                            <div class="popular__content pl-20 pr-20 text-center">
                                <h5>Technique de culture du riz</h5>
                                <p>Dans cette formation, on va voir les sept étapes pour le culture du riz dans
                                    n'importe
                                    quel lieu.</p>
                            </div>
                            <a href="{% url 'login' %}">voir plus</a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="popular mb-30">
                            <div class="popular__img pos-rel mb-70">
                                <div class="popoular__img__inner">
                                    <img src="{% static 'asset/img/feature/feat8.jpg' %}" alt="">
                                </div>
                                <div class="popular__img--icon">
                                    <i class="flaticon-gardening-tools"></i>
                                </div>
                            </div>
                            <div class="popular__content pl-20 pr-20 text-center">
                                <h5>Culture du riz irrigué</h5>
                                <p>Le riz irrigué qui est cultivé dans des terres inondables dans les bas fonds, les
                                    périmètres irrigués.</p>
                            </div>
                            <a href="{% url 'login' %}">voir plus</a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="popular mb-30">
                            <div class="popular__img pos-rel mb-70">
                                <div class="popoular__img__inner">
                                    <img src="{% static 'asset/img/feature/feat9.jpg' %}" alt="">
                                </div>
                                <div class="popular__img--icon">
                                    <i class="flaticon-farming-and-gardening"></i>
                                </div>
                            </div>
                            <div class="popular__content pl-20 pr-20 text-center">
                                <h5>Le compostage</h5>
                                <p>Le compost est le produit obtenu après un processus biologique de fermentation
                                    aérobie
                                    contrôlée qui permet de décomposer et transformer les déchets et matière organiques
                                    en
                                    un produit stable et sain.</p>
                            </div>
                            <a href="{% url 'login' %}">voir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--popular-service end-->
        <!--counter-area start-->
        <section class="counter-area-two pb-120">
            <div class="container">
                <div class="couter-bg white-bg pt-50 pb-40">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="counter__box counter__two pos-rel text-center mb-30">
                                <h1 class="mb-20"><span class="counter">15</span></h1>
                                <h3 class="mb-15">Ans d'Experience</h3>
                                <p class="mb-30">Technicien Agricole</p>
                                <div class="bottom-icon pos-rel pt-30">
                                    <i class="far fa-umbrella-beach"></i>
                                </div>
                                <div class="counter-shape-one pos-abl"><img
                                        src="{% static 'asset/img/icon/leaf13.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="counter__box counter__two text-center mb-30">
                                <h1 class="mb-20"><span class="counter">5</span>k</h1>
                                <h3 class="mb-15">Paysans Satisfait</h3>
                                <p class="mb-30">Formation Agricole</p>
                                <div class="bottom-icon pos-rel pt-30">
                                    <i class="far fa-heart"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="counter__box counter__two pos-rel text-center mb-30">
                                <h1 class="mb-20"><span class="counter">26</span></h1>
                                <h3 class="mb-15">Association Existe</h3>
                                <p class="mb-30">Association des Paysans</p>
                                <div class="bottom-icon pos-rel pt-30">
                                    <i class="far fa-mug"></i>
                                </div>
                                <div class="counter-shape-two pos-abl"><img
                                        src="{% static 'asset/img/icon/leaf14.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--counter-area end-->
        <!--our-team-area start-->
        <section class="our-team-area pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 offset-xl-3">
                        <div class="section-title text-center mb-85">
                            <span class="mb-15">Nôtre Équipe</span>
                            <h2 class="mb-30">Nôtre Staff et Formateur</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="team text-center mb-30">
                            <div class="team__img pos-rel mb-25">
                                <img src="{% static 'asset/img/team/team2.png' %}" alt="">
                                <div class="team__social pos-abl">
                                    <a href="www.facebook.com/tholde.rftn"><i class="fab fa-facebook-f"></i></a>
                                    <a href="www.linkedin.com/tholde.rftn"><i class="fab fa-linkedin"></i></a>
                                    <a href="www.instagram.com/tholderftn"><i class="fab fa-instagram"></i></a>
                                    <a href="www.github.com/tholde"><i class="fab fa-github"></i></a>
                                </div>
                            </div>
                            <div class="team__name">
                                <h6>Ambanimaso Mamiratra</h6>
                                <p>Développeur et Technicien Informatique</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="team text-center mb-30">
                            <div class="team__img pos-rel mb-25">
                                <img src="{% static 'asset/img/team/team3.png' %}" alt="">
                                <div class="team__social pos-abl">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-google"></i></a>
                                </div>
                            </div>
                            <div class="team__name">
                                <h6>Sedera Miharilovasoa</h6>
                                <p>Rédactrice Web</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="team text-center mb-25">
                            <div class="team__img pos-rel mb-30">
                                <img src="{% static 'asset/img/team/team4.png' %}" alt="">
                                <div class="team__social pos-abl">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-google"></i></a>
                                </div>
                            </div>
                            <div class="team__name">
                                <h6>Tholde Rahalahifaliako</h6>
                                <p>Technicien Agricole</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="team text-center mb-30">
                            <div class="team__img pos-rel mb-25">
                                <img src="{% static 'asset/img/team/team6.png' %}" alt="">
                                <div class="team__social pos-abl">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-google"></i></a>
                                </div>
                            </div>
                            <div class="team__name">
                                <h6>Pafulgent</h6>
                                <p>Technicien Agricole</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--our-team-area end-->

        <!--subscribe-area start-->
        <section class="subscribe-area pos-rel">
            <div class="container">
                <div class="sub-bg pos-rel grey-bg">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="subscribe-wrapper mb-30">
                                <div class="section-title text-left mb-45">
                                    <span class="mb-15">Votre Message</span>
                                    <h2 class="mb-30">Message de visite</h2>
                                </div>
                                <form class="form-area row" method="post" action="{% url 'save_contact_us' %}">
                                    {% csrf_token %}
                                    <div class="col-12">
                                        <div class="contact-name pos-rel mb-15">
                                            <input type="text" name="fullname" class="form-control"
                                                   placeholder="Entrer votre Nom" required>
                                            <span><i class="fal fa-user-circle"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="contact-mail pos-rel mb-15">
                                            <input type="text" name="email" class="form-control"
                                                   placeholder="Entrer votre Email" required>
                                            <span><i class="fal fa-envelope-open"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="contact-message pos-rel mb-15">
                                            <textarea name="message" id="message"
                                                      placeholder="Ecrire votre Message" required></textarea>
                                            <span><i class="fal fa-envelope-open"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="theme_btn">Envoyer votre mesage</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="contact__img pos-rel">
                                <img class="contact__img-women pos-rel"
                                     src="{% static 'asset/img/service/service5.png' %}" alt="">
                                <img class="contact__img-back pos-abl d-none d-md-block"
                                     src="{% static 'asset/img/icon/leaf17.png' %}"
                                     alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--subscribe-area end-->
        <!--testimonial-area start-->
        <section class="testimonial-area-two pos-rel">
            <div class="testimonial-img-one d-none d-lg-block pos-abl">
                <img src="{% static 'asset/img/testimonial/testimonial3.png' %}" alt="">
            </div>
            <div class="testimonial-img-two d-none d-lg-block pos-abl">
                <img src="{% static 'asset/img/testimonial/testimonial4.png' %}" alt="">
            </div>
            <div class="testimonial-img-three d-none d-lg-block pos-abl">
                <img src="{% static 'asset/img/testimonial/testimonial5.png' %}" alt="">
            </div>
            <div class="testimonial-img-four d-none d-lg-block pos-abl">
                <img src="{% static 'asset/img/testimonial/testimonial6.png' %}" alt="">
            </div>
            <div class="section-title pos-rel text-center mb-75">
                <span class="mb-15">Message des visiteurs</span>
                <h2 class="mb-30">Comment les peuples ont dit ?</h2>
            </div>
            <div class="testimonial-active-02">
                {% if visitors %}
                {% for vst in visitors %}
                <div class="testimonials-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-10 offset-xl-1">
                                <div class="testimonials">
                                    <div class="testimonials__inner text-center">
                                        <div class="quote-icon text-center mb-25">
                                            <img src="{% static 'asset/img/testimonial/quote.png' %}" alt="">
                                        </div>
                                        <p>{{ vst.message }}</p>
                                        <div class="author-name mt-35">
                                            <h4>{{ vst.fullname}}</h4>
                                            <span>{{ vst.email}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            </div>
        </section>
        <!--testimonial-area end-->
        <!--blog-area start-->
        <section class="blog-area blog-area-two pt-120 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 offset-xl-2">
                        <div class="section-title text-center mb-80 ml-55">
                            <span class="mb-15">Temoignage personnelle</span>
                            <h2 class="mb-30">Temoignage des paysans agriculteurs</h2>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="blog blog-border mb-30">
                            <div class="blog__content">
                                <div class="blog__content--meta mb-20">
                                    <a href="#"><i class="far fa-user-circle"></i> By Rasoa Marie</a>
                                    <a href="#"><i class="far fa-calendar-alt"></i> 30 MAI 2024</a>
                                </div>
                                <div class="blog__content--thumb-03 mb-25">
                                    <img src="{% static 'asset/img/feature/feat11.jpg' %}" alt="">
                                </div>
                                <div class="blog__content--catagory mb-10">
                                    <a class="pos-rel" href="#">Ketsa Valo Andro</a>
                                    <a href="#">Fampiasa ketsa manara-penitra</a>
                                </div>
                                <h5><a class="mb-30" href="#">Fahizay aho nampiasa izay fahaizako izay nolovaiko
                                    tamin'ny Razambenay.</a></h5>
                                <a href="{% url 'login' %}" class="theme_btn green_btn">voir plus</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="blog blog-02 blog-border mb-30">
                            <div class="blog__content">
                                <div class="blog__content--meta mb-20">
                                    <a href="#"><i class="far fa-user-circle"></i> By Neny Razay</a>
                                    <a href="#"><i class="far fa-calendar-alt"></i> 30 DEC 2020</a>
                                </div>
                                <div class="blog__content--thumb-03 mb-25">
                                    <img src="{% static 'asset/img/feature/feat10.jpg' %}" alt="">
                                </div>
                                <div class="blog__content--catagory mb-10">
                                    <a class="pos-rel" href="#">Fampiasana Compost</a>
                                    <a href="#">Fampiasana zezika vita Gasy</a>
                                </div>
                                <h5><a class="mb-30" href="#">Taloha aho tsy nampiasa zezika mihintsy fa tsy dia nanana
                                    vola ahafahana mividy.</a></h5>
                                <a href="{% url 'login' %}" class="theme_btn green_btn">voir plus</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="blog blog-border mb-30">
                            <div class="blog__content">
                                <div class="blog__content--meta mb-20">
                                    <a href="#"><i class="far fa-user-circle"></i> By Mosa Rafaralahy</a>
                                    <a href="#"><i class="far fa-calendar-alt"></i> 30 DEC 2020</a>
                                </div>
                                <div class="blog__content--thumb-03 mb-25">
                                    <img src="{% static 'asset/img/blog/blog9.jpg' %}" alt="">
                                </div>
                                <div class="blog__content--catagory mb-10">
                                    <a class="pos-rel" href="#">Fiofanana misy vokany</a>
                                    <a href="#">Fampiharana ny fiofanana</a>
                                </div>
                                <h5><a class="mb-30" href="#">Samy manao izay saimpatany ny aty ambanivohitra
                                    fahizay.</a></h5>
                                <a href="{% url 'login' %}" class="theme_btn green_btn">voir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--blog-area end-->
    </main>
{% endblock content %}