--
-- PostgreSQL database dump
--

-- Dumped from database version 16.0
-- Dumped by pg_dump version 16.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: association_activity; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.association_activity (
    id bigint NOT NULL,
    date timestamp with time zone NOT NULL,
    image character varying(100),
    description text NOT NULL,
    budget double precision NOT NULL,
    association_id bigint NOT NULL,
    title character varying(255)
);


ALTER TABLE public.association_activity OWNER TO tholde;

--
-- Name: association_activity_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.association_activity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.association_activity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: association_association; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.association_association (
    id bigint NOT NULL,
    logo character varying(100),
    name character varying(100) NOT NULL,
    date timestamp with time zone NOT NULL,
    technicien_id bigint NOT NULL
);


ALTER TABLE public.association_association OWNER TO tholde;

--
-- Name: association_association_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.association_association ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.association_association_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: association_formation; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.association_formation (
    id bigint NOT NULL,
    title character varying(100) NOT NULL,
    image character varying(100),
    description text NOT NULL,
    file character varying(100),
    date timestamp with time zone NOT NULL,
    technicien_id bigint
);


ALTER TABLE public.association_formation OWNER TO tholde;

--
-- Name: association_formation_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.association_formation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.association_formation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: association_member; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.association_member (
    id bigint NOT NULL,
    role character varying(255) NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    association_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.association_member OWNER TO tholde;

--
-- Name: association_member_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.association_member ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.association_member_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: association_miniproject; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.association_miniproject (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    image character varying(100),
    description text NOT NULL,
    file character varying(100),
    date timestamp with time zone NOT NULL,
    budget double precision NOT NULL,
    is_accepted boolean NOT NULL,
    is_complete boolean NOT NULL,
    association_id bigint NOT NULL
);


ALTER TABLE public.association_miniproject OWNER TO tholde;

--
-- Name: association_miniproject_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.association_miniproject ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.association_miniproject_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: association_temoignage; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.association_temoignage (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    image character varying(100),
    description text NOT NULL,
    date timestamp with time zone NOT NULL,
    member_id bigint NOT NULL
);


ALTER TABLE public.association_temoignage OWNER TO tholde;

--
-- Name: association_temoignage_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.association_temoignage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.association_temoignage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO tholde;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO tholde;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO tholde;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO tholde;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO tholde;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO tholde;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chat_message; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.chat_message (
    id bigint NOT NULL,
    value character varying(1000000) NOT NULL,
    date timestamp with time zone NOT NULL,
    "user" character varying(1000000) NOT NULL,
    room character varying(1000000) NOT NULL
);


ALTER TABLE public.chat_message OWNER TO tholde;

--
-- Name: chat_message_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.chat_message ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chat_message_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chat_room; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.chat_room (
    id bigint NOT NULL,
    name character varying(2000) NOT NULL,
    date timestamp with time zone NOT NULL
);


ALTER TABLE public.chat_room OWNER TO tholde;

--
-- Name: chat_room_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.chat_room ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chat_room_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO tholde;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO tholde;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO tholde;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO tholde;

--
-- Name: product_demandlivraison; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.product_demandlivraison (
    id bigint NOT NULL,
    date_created timestamp with time zone NOT NULL,
    fees double precision NOT NULL,
    is_accepted boolean NOT NULL,
    fournisseur_id bigint NOT NULL,
    technicien_id bigint NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.product_demandlivraison OWNER TO tholde;

--
-- Name: product_demandlivraison_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.product_demandlivraison ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_demandlivraison_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_payment; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.product_payment (
    id bigint NOT NULL,
    reference character varying(255) NOT NULL,
    is_accepted boolean NOT NULL,
    user_id bigint NOT NULL,
    product_id bigint NOT NULL,
    date_envoyer timestamp with time zone,
    nom_de_compte character varying(255)
);


ALTER TABLE public.product_payment OWNER TO tholde;

--
-- Name: product_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.product_payment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_payment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_product; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.product_product (
    id bigint NOT NULL,
    image character varying(100) NOT NULL,
    name character varying(255) NOT NULL,
    price double precision NOT NULL,
    description text NOT NULL,
    is_commanded boolean NOT NULL,
    is_accepted boolean NOT NULL,
    date_created timestamp with time zone NOT NULL,
    commanded_date timestamp with time zone,
    technicien_id bigint NOT NULL
);


ALTER TABLE public.product_product OWNER TO tholde;

--
-- Name: product_product_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.product_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_onetimepassword; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.users_onetimepassword (
    id bigint NOT NULL,
    code character varying(6) NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.users_onetimepassword OWNER TO tholde;

--
-- Name: users_onetimepassword_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.users_onetimepassword ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_onetimepassword_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.users_user (
    id bigint NOT NULL,
    email character varying(255) NOT NULL,
    first_name character varying(255) NOT NULL,
    last_name character varying(255) NOT NULL,
    username character varying(255) NOT NULL,
    password character varying(100) NOT NULL,
    contact character varying(15) NOT NULL,
    address character varying(100) NOT NULL,
    role character varying(100) NOT NULL,
    image character varying(100) NOT NULL,
    cv character varying(100) NOT NULL,
    is_verified boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    last_login timestamp with time zone NOT NULL
);


ALTER TABLE public.users_user OWNER TO tholde;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.users_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: visitor_userproblem; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.visitor_userproblem (
    id bigint NOT NULL,
    problem text NOT NULL,
    status boolean NOT NULL,
    date timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.visitor_userproblem OWNER TO tholde;

--
-- Name: visitor_userproblem_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.visitor_userproblem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.visitor_userproblem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: visitor_visitor; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.visitor_visitor (
    id bigint NOT NULL,
    fullname character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    message text NOT NULL,
    date timestamp with time zone NOT NULL
);


ALTER TABLE public.visitor_visitor OWNER TO tholde;

--
-- Name: visitor_visitor_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.visitor_visitor ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.visitor_visitor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: work_event; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.work_event (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    start date NOT NULL,
    "end" date,
    class_name character varying(100),
    url character varying(200)
);


ALTER TABLE public.work_event OWNER TO tholde;

--
-- Name: work_event_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.work_event ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.work_event_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: work_work; Type: TABLE; Schema: public; Owner: tholde
--

CREATE TABLE public.work_work (
    id bigint NOT NULL,
    title character varying(100) NOT NULL,
    description text NOT NULL,
    file character varying(100) NOT NULL,
    date date NOT NULL,
    technicien_id bigint NOT NULL
);


ALTER TABLE public.work_work OWNER TO tholde;

--
-- Name: work_work_id_seq; Type: SEQUENCE; Schema: public; Owner: tholde
--

ALTER TABLE public.work_work ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.work_work_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: association_activity; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.association_activity (id, date, image, description, budget, association_id, title) FROM stdin;
2	2024-07-23 11:22:41.307303+03	activity/IMG_20211204_090350.jpg	cnbnbcvncvnbcvnbcvb	4545000000	2	dbvxnvbnvcnnb
3	2024-07-23 11:51:10.360137+03	activity/closeup-shot-hand-young-lady-covered-by-red-jacket-with-green-field.jpg	bfdbbb	2626565000	2	fbnjfdnbfb
\.


--
-- Data for Name: association_association; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.association_association (id, logo, name, date, technicien_id) FROM stdin;
2	logo/logo.png	Rekotro	2024-07-23 10:12:13.277474+03	1
\.


--
-- Data for Name: association_formation; Type: TABLE DATA; Schema: public; Owner: tholde
--



--
-- Data for Name: association_member; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.association_member (id, role, date_joined, association_id, user_id) FROM stdin;
1	admin	2024-07-23 10:44:39.352686+03	2	11
\.


--
-- Data for Name: association_miniproject; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.association_miniproject (id, name, image, description, file, date, budget, is_accepted, is_complete, association_id) FROM stdin;
\.


--
-- Data for Name: association_temoignage; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.association_temoignage (id, title, image, description, date, member_id) FROM stdin;
1	dgfdsgfsdgs	temoignage/farmer-standing-rice-field-with-tablet.jpg	sfdgsfdgsfdg	2024-07-23 11:06:23.249252+03	1
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: tholde
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: chat_message; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.chat_message (id, value, date, "user", room) FROM stdin;
1	Hello	2024-07-19 01:19:18.939871+03	@tholde	1
2	Hello everyone! this is our new chat	2024-07-23 14:43:56.421401+03	@rahalahifaliako	1
3	how are you	2024-07-23 14:44:33.390743+03	@rahalahifaliako	1
4	on a des problem	2024-07-23 14:44:58.318467+03	@tholde	1
\.


--
-- Data for Name: chat_room; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.chat_room (id, name, date) FROM stdin;
1	r├⌐union 17 juillet 2024	2024-07-18 10:06:09.568768+03
2	reunion de 23/07/2024	2024-07-23 14:43:34.139064+03
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	chat	message
8	chat	room
9	users	user
10	users	onetimepassword
11	visitor	visitor
12	visitor	userproblem
13	product	product
14	product	payment
15	product	demandlivraison
16	association	association
17	association	activity
18	association	formation
19	association	member
20	association	miniproject
21	association	temoignage
22	work	event
23	work	work
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: tholde
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: tholde
--



--
-- Data for Name: product_demandlivraison; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.product_demandlivraison (id, date_created, fees, is_accepted, fournisseur_id, technicien_id, product_id) FROM stdin;
\.


--
-- Data for Name: product_payment; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.product_payment (id, reference, is_accepted, user_id, product_id, date_envoyer, nom_de_compte) FROM stdin;
\.


--
-- Data for Name: product_product; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.product_product (id, image, name, price, description, is_commanded, is_accepted, date_created, commanded_date, technicien_id) FROM stdin;
1	products/Vary_004.jpg	vddfvfdvsfdv	65491621	vfdvfdvfdvsdv	f	f	2024-07-18 09:01:39.881383+03	\N	1
\.


--
-- Data for Name: users_onetimepassword; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.users_onetimepassword (id, code, user_id) FROM stdin;
1	929489	1
2	756199	2
3	915334	4
4	638691	9
5	782331	11
6	959346	12
\.


--
-- Data for Name: users_user; Type: TABLE DATA; Schema: public; Owner: tholde
--



--
-- Data for Name: visitor_userproblem; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.visitor_userproblem (id, problem, status, date, user_id) FROM stdin;
\.


--
-- Data for Name: visitor_visitor; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.visitor_visitor (id, fullname, email, message, date) FROM stdin;
1	Tholde Rftn	rahalahifaliako.t@zurcher.edu.mg	ffdbsfbsfbgfbfgb	2024-07-18 08:55:39.787153+03
2	Dohoneste F	ladina@zurcher.edu.mg	Hello!\r\nI like your activities in this website	2024-07-18 09:39:56.160789+03
\.


--
-- Data for Name: work_event; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.work_event (id, title, start, "end", class_name, url) FROM stdin;
1	dvsfdvsfdv	2024-07-18	2024-07-18	p-1 text-white bg-green-500	\N
2	cbdsfbsfdbdsfb	2024-07-27	2024-07-12	p-1 text-white bg-green-500	\N
\.


--
-- Data for Name: work_work; Type: TABLE DATA; Schema: public; Owner: tholde
--

COPY public.work_work (id, title, description, file, date, technicien_id) FROM stdin;
1	jhsfgdkjg	nkghfdsfyugio	works/Auz_theme_song.docx	2024-07-18	1
2	Mois de juillet	ankfndvnamndvkohavnaeorjknvdfnmvnadovadvasdv	works/impression.xlsx	2024-07-23	1
\.


--
-- Name: association_activity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.association_activity_id_seq', 3, true);


--
-- Name: association_association_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.association_association_id_seq', 2, true);


--
-- Name: association_formation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.association_formation_id_seq', 4, true);


--
-- Name: association_member_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.association_member_id_seq', 2, true);


--
-- Name: association_miniproject_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.association_miniproject_id_seq', 1, false);


--
-- Name: association_temoignage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.association_temoignage_id_seq', 1, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 92, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, false);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: chat_message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.chat_message_id_seq', 4, true);


--
-- Name: chat_room_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.chat_room_id_seq', 2, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 23, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 24, true);


--
-- Name: product_demandlivraison_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.product_demandlivraison_id_seq', 1, false);


--
-- Name: product_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.product_payment_id_seq', 1, false);


--
-- Name: product_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.product_product_id_seq', 1, true);


--
-- Name: users_onetimepassword_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.users_onetimepassword_id_seq', 6, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.users_user_id_seq', 13, true);


--
-- Name: visitor_userproblem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.visitor_userproblem_id_seq', 1, false);


--
-- Name: visitor_visitor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.visitor_visitor_id_seq', 2, true);


--
-- Name: work_event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.work_event_id_seq', 2, true);


--
-- Name: work_work_id_seq; Type: SEQUENCE SET; Schema: public; Owner: tholde
--

SELECT pg_catalog.setval('public.work_work_id_seq', 2, true);


--
-- Name: association_activity association_activity_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.association_activity
    ADD CONSTRAINT association_activity_pkey PRIMARY KEY (id);


--
-- Name: association_association association_association_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.association_association
    ADD CONSTRAINT association_association_pkey PRIMARY KEY (id);


--
-- Name: association_formation association_formation_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.association_formation
    ADD CONSTRAINT association_formation_pkey PRIMARY KEY (id);


--
-- Name: association_member association_member_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.association_member
    ADD CONSTRAINT association_member_pkey PRIMARY KEY (id);


--
-- Name: association_member association_member_user_id_key; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.association_member
    ADD CONSTRAINT association_member_user_id_key UNIQUE (user_id);


--
-- Name: association_miniproject association_miniproject_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.association_miniproject
    ADD CONSTRAINT association_miniproject_pkey PRIMARY KEY (id);


--
-- Name: association_temoignage association_temoignage_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.association_temoignage
    ADD CONSTRAINT association_temoignage_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: chat_message chat_message_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.chat_message
    ADD CONSTRAINT chat_message_pkey PRIMARY KEY (id);


--
-- Name: chat_room chat_room_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.chat_room
    ADD CONSTRAINT chat_room_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: product_demandlivraison product_demandlivraison_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.product_demandlivraison
    ADD CONSTRAINT product_demandlivraison_pkey PRIMARY KEY (id);


--
-- Name: product_payment product_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.product_payment
    ADD CONSTRAINT product_payment_pkey PRIMARY KEY (id);


--
-- Name: product_product product_product_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.product_product
    ADD CONSTRAINT product_product_pkey PRIMARY KEY (id);


--
-- Name: product_product product_product_technicien_id_key; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.product_product
    ADD CONSTRAINT product_product_technicien_id_key UNIQUE (technicien_id);


--
-- Name: users_onetimepassword users_onetimepassword_code_key; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.users_onetimepassword
    ADD CONSTRAINT users_onetimepassword_code_key UNIQUE (code);


--
-- Name: users_onetimepassword users_onetimepassword_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.users_onetimepassword
    ADD CONSTRAINT users_onetimepassword_pkey PRIMARY KEY (id);


--
-- Name: users_onetimepassword users_onetimepassword_user_id_key; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.users_onetimepassword
    ADD CONSTRAINT users_onetimepassword_user_id_key UNIQUE (user_id);


--
-- Name: users_user users_user_email_key; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_email_key UNIQUE (email);


--
-- Name: users_user users_user_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_pkey PRIMARY KEY (id);


--
-- Name: visitor_userproblem visitor_userproblem_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.visitor_userproblem
    ADD CONSTRAINT visitor_userproblem_pkey PRIMARY KEY (id);


--
-- Name: visitor_userproblem visitor_userproblem_user_id_key; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.visitor_userproblem
    ADD CONSTRAINT visitor_userproblem_user_id_key UNIQUE (user_id);


--
-- Name: visitor_visitor visitor_visitor_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.visitor_visitor
    ADD CONSTRAINT visitor_visitor_pkey PRIMARY KEY (id);


--
-- Name: work_event work_event_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.work_event
    ADD CONSTRAINT work_event_pkey PRIMARY KEY (id);


--
-- Name: work_work work_work_pkey; Type: CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.work_work
    ADD CONSTRAINT work_work_pkey PRIMARY KEY (id);


--
-- Name: association_activity_association_id_ee5f615f; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX association_activity_association_id_ee5f615f ON public.association_activity USING btree (association_id);


--
-- Name: association_association_technicien_id_c9db9d39; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX association_association_technicien_id_c9db9d39 ON public.association_association USING btree (technicien_id);


--
-- Name: association_formation_technicien_id_db2dad48; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX association_formation_technicien_id_db2dad48 ON public.association_formation USING btree (technicien_id);


--
-- Name: association_member_association_id_194a9a89; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX association_member_association_id_194a9a89 ON public.association_member USING btree (association_id);


--
-- Name: association_miniproject_association_id_01b35bd7; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX association_miniproject_association_id_01b35bd7 ON public.association_miniproject USING btree (association_id);


--
-- Name: association_temoignage_member_id_8922eaad; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX association_temoignage_member_id_8922eaad ON public.association_temoignage USING btree (member_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: product_demandlivraison_fournisseur_id_e2c3dd95; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX product_demandlivraison_fournisseur_id_e2c3dd95 ON public.product_demandlivraison USING btree (fournisseur_id);


--
-- Name: product_demandlivraison_product_id_ef6bde9a; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX product_demandlivraison_product_id_ef6bde9a ON public.product_demandlivraison USING btree (product_id);


--
-- Name: product_demandlivraison_technicien_id_cda5685f; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX product_demandlivraison_technicien_id_cda5685f ON public.product_demandlivraison USING btree (technicien_id);


--
-- Name: product_payment_product_id_41f694f9; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX product_payment_product_id_41f694f9 ON public.product_payment USING btree (product_id);


--
-- Name: product_payment_user_id_4c97aff2; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX product_payment_user_id_4c97aff2 ON public.product_payment USING btree (user_id);


--
-- Name: users_onetimepassword_code_203545e8_like; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX users_onetimepassword_code_203545e8_like ON public.users_onetimepassword USING btree (code varchar_pattern_ops);


--
-- Name: users_user_email_243f6e77_like; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX users_user_email_243f6e77_like ON public.users_user USING btree (email varchar_pattern_ops);


--
-- Name: work_work_technicien_id_9588e047; Type: INDEX; Schema: public; Owner: tholde
--

CREATE INDEX work_work_technicien_id_9588e047 ON public.work_work USING btree (technicien_id);


--
-- Name: association_activity association_activity_association_id_ee5f615f_fk_associati; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.association_activity
    ADD CONSTRAINT association_activity_association_id_ee5f615f_fk_associati FOREIGN KEY (association_id) REFERENCES public.association_association(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: association_association association_association_technicien_id_c9db9d39_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.association_association
    ADD CONSTRAINT association_association_technicien_id_c9db9d39_fk_users_user_id FOREIGN KEY (technicien_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: association_formation association_formation_technicien_id_db2dad48_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.association_formation
    ADD CONSTRAINT association_formation_technicien_id_db2dad48_fk_users_user_id FOREIGN KEY (technicien_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: association_member association_member_association_id_194a9a89_fk_associati; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.association_member
    ADD CONSTRAINT association_member_association_id_194a9a89_fk_associati FOREIGN KEY (association_id) REFERENCES public.association_association(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: association_member association_member_user_id_b0034a53_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.association_member
    ADD CONSTRAINT association_member_user_id_b0034a53_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: association_miniproject association_miniproj_association_id_01b35bd7_fk_associati; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.association_miniproject
    ADD CONSTRAINT association_miniproj_association_id_01b35bd7_fk_associati FOREIGN KEY (association_id) REFERENCES public.association_association(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: association_temoignage association_temoigna_member_id_8922eaad_fk_associati; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.association_temoignage
    ADD CONSTRAINT association_temoigna_member_id_8922eaad_fk_associati FOREIGN KEY (member_id) REFERENCES public.association_member(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_demandlivraison product_demandlivrai_fournisseur_id_e2c3dd95_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.product_demandlivraison
    ADD CONSTRAINT product_demandlivrai_fournisseur_id_e2c3dd95_fk_users_use FOREIGN KEY (fournisseur_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_demandlivraison product_demandlivrai_product_id_ef6bde9a_fk_product_p; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.product_demandlivraison
    ADD CONSTRAINT product_demandlivrai_product_id_ef6bde9a_fk_product_p FOREIGN KEY (product_id) REFERENCES public.product_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_demandlivraison product_demandlivraison_technicien_id_cda5685f_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.product_demandlivraison
    ADD CONSTRAINT product_demandlivraison_technicien_id_cda5685f_fk_users_user_id FOREIGN KEY (technicien_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_payment product_payment_product_id_41f694f9_fk_product_product_id; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.product_payment
    ADD CONSTRAINT product_payment_product_id_41f694f9_fk_product_product_id FOREIGN KEY (product_id) REFERENCES public.product_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_payment product_payment_user_id_4c97aff2_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.product_payment
    ADD CONSTRAINT product_payment_user_id_4c97aff2_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_product product_product_technicien_id_aa3a96b3_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.product_product
    ADD CONSTRAINT product_product_technicien_id_aa3a96b3_fk_users_user_id FOREIGN KEY (technicien_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_onetimepassword users_onetimepassword_user_id_9586eff3_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.users_onetimepassword
    ADD CONSTRAINT users_onetimepassword_user_id_9586eff3_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: visitor_userproblem visitor_userproblem_user_id_30738e96_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.visitor_userproblem
    ADD CONSTRAINT visitor_userproblem_user_id_30738e96_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: work_work work_work_technicien_id_9588e047_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: tholde
--

ALTER TABLE ONLY public.work_work
    ADD CONSTRAINT work_work_technicien_id_9588e047_fk_users_user_id FOREIGN KEY (technicien_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

