{% extends 'paysan/base.html' %}
{% block content %}
    {% load static %}
    <div class="relative min-h-screen group-data-[sidebar-size=sm]:min-h-[1500px]">
        <div class="group-data-[sidebar-size=lg]:ltr:lg:ml-vertical-menu group-data-[sidebar-size=lg]:rtl:lg:mr-vertical-menu group-data-[sidebar-size=md]:ltr:ml-vertical-menu-md group-data-[sidebar-size=md]:rtl:mr-vertical-menu-md group-data-[sidebar-size=sm]:ltr:lg:ml-vertical-menu-sm group-data-[sidebar-size=sm]:lg:rtl:mr-vertical-menu-sm pt-[calc(theme('spacing.header')_*_1)] pb-[calc(theme('spacing.header')_*_1)] px-6 group-data-[layout=horizontal]:!mx-auto group-data-[layout=horizontal]:max-w-screen-2xl  group-data-[layout=horizontal]:lg:pt-[calc(theme('spacing.header')_*_1.75)] ">
            <div class="container-fluid">
                <div class="md:flex items-center justify-between pt-6 pb-5">
                    <div>
                        <h6 class="mb-0 text-16 uppercase font-semibold dark:text-white">Liste des Activités</h6>
                    </div>
                    <div class="shrink-0">
                        <ul class="mb-0 flex items-center gap-4 text-[13px] mt-2 md:mt-0">
                            <li class="before:content-['/'] before:absolute ltr:before:-right-1 rtl:before:-left-2 before:text-gray-600 before:text-[9px] before:top-0 before:bottom-0 before:flex before:items-center relative pr-3 inline-block">
                                <a href="#!" class="text-gray-800 dark:text-white">PAYSAN</a></li>
                            <li class="text-gray-600 dark:text-zink-200">Liste des Activités</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="grid grid-cols-12">
                        <div class="col-span-12 ">
                            <div class="card dark:bg-zink-700 mb-0 border-b border-gray-400/50 dark:border-zink-50">
                                <div class="card-body">
                                    <div class=" sm:flex space-y-3 sm:space-y-0 justify-between items-center">
                                        <h5 class="text-15 font-semibold text-gray-700 dark:text-white">Liste des
                                            Activités</h5>
                                        <div class="flex gap-x-2">
                                            <button type="button"
                                                    class=" px-3 py-2 text-13 text-white transition-all duration-300 ease-linear bg-green-500 border-blue-500 hover:bg-green-600 hover:border-green-600 hover:text-white active:bg-green-600 active:border-green-600 active:text-white focus:bg-green-600 focus:border-green-600 focus:text-white focus:ring focus:ring-green-500/30 btn"
                                                    id="btn-new-event" data-tw-toggle="modal"
                                                    data-tw-target="#event-modal">
                                                Ajouter Nouvel Activité
                                            </button>
                                            <button type="button"
                                                    class="text-gray-600 transition-all duration-300 ease-linear dark:bg-zink-50 border-gray-50 bg-gray-50 hover:bg-gray-600 hover:border-gray-600 hover:text-white active:bg-gray-600 active:border-gray-600 active:text-white focus:bg-gray-600 focus:ring focus:ring-gray-600/30 focus:border-gray-600 focus:text-white btn dark:border-transparent dark:text-zink-200">
                                                <i class="mdi mdi-refresh"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-span-12 ">
                                {% if messages %}
                                    <div class="group flex justify-content-center mt-4 mb-4 px-10">
                                        <img src="{% static 'error.png' %}" class="h-6 mx-2" alt="">
                                        <span class="block text-13 font-bold text-red-700 mb-2 dark:text-red-700"
                                              for="userpassword">{{ messages }}</span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card dark:bg-zink-700 dark:text-zink-200 dark:border-zink-50">
                                <div class="card-body overflow-x-auto whitespace-nowrap">
                                    <table class="ltr:text-left rtl:text-right table w-full datatable dt-responsive nowrap border-spacing-y-1.5 border-collapse text-gray-800 ">
                                        <thead>
                                        <tr>
                                            <th class="p-3 border-b border-gray-300 items-center text-13 font-semibold dark:border-zink-50 dark:text-zink-200 ">
                                                No
                                            </th>
                                            <th class="p-3 border-b border-gray-300 text-13 items-center font-semibold dark:border-zink-50 dark:text-zink-200 ">
                                                Image
                                            </th>
                                            <th class="p-3 border-b border-gray-300 text-13 items-center font-semibold dark:border-zink-50 dark:text-zink-200 ">
                                                Titre
                                            </th>
                                            <th class="p-3 border-b border-gray-300 text-13 items-center font-semibold dark:border-zink-50 dark:text-zink-200 ">
                                                Budget
                                            </th>
                                            <th class="p-3 border-b border-gray-300 text-13 items-center font-semibold dark:border-zink-50 dark:text-zink-200 ">
                                                Description
                                            </th>
                                           <th class="p-3 border-b border-gray-300 text-13 items-center font-semibold dark:border-zink-50 dark:text-zink-200 ">
                                                Association
                                            </th>
                                            <th class="p-3 border-b border-gray-300 text-13 items-center font-semibold dark:border-zink-50 dark:text-zink-200 ">
                                                Date
                                            </th>
                                            <th class="p-3 border-b border-gray-300 text-13 items-center font-semibold dark:border-zink-50 dark:text-zink-200 ">
                                                Action
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if activities %}
                                            {% for usr in activities %}
                                                <tr class="text-gray-600 dark:text-zink-200 text-13 border-b dark:border-zink-50 ">
                                                    <td class="p-3 border-b border-gray-300 text-13 items-center dark:border-zink-50 dark:text-zink-200">{{ forloop.counter }}</td>
                                                    <td class="p-3 border-b border-gray-300 text-13 items-center dark:border-zink-50 dark:text-zink-200">
                                                        <div class="bg-gray-50 dark:bg-zink-50 w-50 h-25 rounded-full">
                                                            <img src="{{ usr.image.url }}"
                                                                 class="w-50 h-25 rounded-full" style="width: 50px;" alt="">
                                                        </div>
                                                    </td>
                                                    <td class="p-3 border-b border-gray-300 text-13 items-center dark:border-zink-50 dark:text-zink-200"> {{ usr.name }} </td>
                                                    <td class="p-3 border-b border-gray-300 text-13 items-center dark:border-zink-50 dark:text-zink-200"> {{ usr.budget }} </td>
                                                    <td class="p-3 border-b border-gray-300 text-13 items-center dark:border-zink-50 dark:text-zink-200"> {{ usr.description }} </td>
                                                    <td class="p-3 border-b border-gray-300 text-13 items-center dark:border-zink-50 dark:text-zink-200">
                                                        {{usr.association.name}}
                                                    </td>
                                                    <td class="p-3 border-b border-gray-300 text-13 items-center dark:border-zink-50 dark:text-zink-200"> {{ usr.date|date:"Y-N-d, h:i:s A" }} </td>
                                                    <td class="p-3 items-center">
                                                        <ul class="flex">
                                                            <li>
                                                                <a data-modal-target="defaultModal" type="button"
                                                                   href="javascript:void(0);"
                                                                   class="bg-red-50 w-6 h-6 rounded flex justify-center items-center dark:bg-red-500/10">
                                                                    <i class="mdi mdi-delete-outline text-red-500 "></i></a>

                                                                <div id="defaultModal" modal-center=""
                                                                     class="fixed flex flex-col top-1/2 left-1/2  -translate-x-1/2 -translate-y-1/2 whitespace-normal   w-full  md:w-72 z-drawer show hidden">
                                                                    <div class="w-full  bg-white shadow rounded-md dark:bg-zink-700 dark:text-zink-200 dark:shadow">
                                                                        <div class="flex items-center justify-end p-4 ">
                                                                            <button data-modal-close="defaultModal"><i
                                                                                    class="mdi mdi-close noti-icon text-16"></i>
                                                                            </button>
                                                                        </div>
                                                                        <div class="h-full p-4 pt-0">
                                                                            <p class="bg-blue-50 mb-6 mx-auto w-12 h-12 rounded flex justify-center items-center dark:bg-blue-500/10">
                                                                                <i class="mdi mdi-trash-can-outline text-xl text-blue-500 "></i>
                                                                            </p>
                                                                            <p class="mb-2 text-lg text-center text-gray-600 dark:text-zink-200">
                                                                                Vous êtes sur de supprimer
                                                                                {{ usr.name }}.</p>
                                                                        </div>
                                                                        <div class="flex justify-center space-x-2 pb-12">
                                                                            <a href="{% url 'delete_activity' usr.id %}"
                                                                               type="button"
                                                                               class="text-white transition-all duration-300 ease-linear bg-red-500 border-red-500 hover:bg-red-600 hover:border-red-600 hover:text-white active:bg-red-600 active:border-red-600 active:text-white focus:bg-red-600 focus:border-red-600 focus:text-white focus:ring focus:ring-red-500/30 btn">
                                                                                Supprimer
                                                                            </a>
                                                                            <button type="button"
                                                                                    class="text-white transition-all duration-300 ease-linear bg-gray-600 border-gray-600 hover:bg-gray-700 hover:border-gray-700 hover:text-white active:bg-gray-700 active:border-gray-700 active:text-white focus:bg-gray-700 focus:border-gray-700 focus:text-white focus:ring focus:ring-gray-700/30 btn">
                                                                                Annuler
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            <!-- end table -->
                        </div>
                    </div>
                    <!-- end grid -->
                </div>

            </div>
            <!-- container-fluid -->
        </div>
        <div class="relative z-50 hidden modal" id="event-modal" aria-labelledby="modal-title" role="dialog"
             aria-modal="true">
            <div class="fixed inset-0 z-50 overflow-y-auto">
                <div class="absolute inset-0 transition-opacity bg-black bg-opacity-50 modal-overlay"></div>
                <div class="flex items-end justify-center min-h-full p-4 text-center sm:items-center sm:p-0">
                    <div class="relative overflow-hidden text-left transition-all transform bg-white dark:bg-zink-700 rounded-lg shadow-xl sm:my-8 sm:w-full sm:max-w-lg">
                        <div class="bg-white dark:bg-zink-700">
                            <div class="flex items-center p-4 pb-0 rounded-t ">
                                <h5 class="text-16 font-medium text-gray-700 dark:text-white" id="modal-title">Ajout Activité</h5>
                                <button class="inline-flex items-center px-2 py-1 text-sm text-gray-400 border-transparent rounded-lg ltr:ml-auto rtl:mr-auto btn hover:bg-gray-50/50 hover:text-gray-900 dark:text-gray-100 dark:hover:bg-zinc-600"
                                        type="button" id="eventModal-close" data-tw-dismiss="modal">
                                    <i class="text-xl text-gray-500 mdi mdi-close dark:text-zinc-100/60"></i>
                                </button>
                            </div>

                            <form class="needs-validation" name="event-form" id="form-event" autocomplete="off"
                                  novalidate="" method="post" action="{% url 'create_activity' %}"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="p-6 space-y-6">
                                    
                                    <div>
                                        <label for="event-title"
                                           class="block mb-2 text-13 text-gray-600 dark:text-zink-200 ">Titre</label>
                                        <input type="text" id="last_name" name="title"
                                               class="border text-13 border-gray-400 text-gray-700 dark:text-zink-200 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-zink-700 dark:border-zink-50 dark:placeholder-gray-300 dark:placeholder:text-zink-200 placeholder:text-13"
                                               placeholder="Entrer le nom du projet" required="">
                                    </div>
                                    <div>
                                        <label for="event-title"
                                           class="block mb-2 text-13 text-gray-600 dark:text-zink-200 ">Budget</label>
                                        <input type="text" id="first_name" name="budget"
                                               class="border text-13 border-gray-400 text-gray-700 dark:text-zink-200 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-zink-700 dark:border-zink-50 dark:placeholder-gray-300 dark:placeholder:text-zink-200 placeholder:text-13 mx-3"
                                               placeholder="Entrer le budget du projet" required="">
                                    </div>
                                    <div>
                                        <label for="event-title"
                                               class="block mb-2 text-13 text-gray-600 dark:text-zink-200 ">Description</label>
                                        <textarea type="text" id="email" name="description"
                                               class="border text-13 border-gray-400 text-gray-700 dark:text-zink-200 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-zink-700 dark:border-zink-50 dark:placeholder-gray-300 dark:placeholder:text-zink-200 placeholder:text-13"
                                                  placeholder="Entrer le description" required=""></textarea>
                                    </div>
                                    <div>
                                        <label for="event-title"
                                               class="block mb-2 text-13 text-gray-600 dark:text-zink-200 ">Image</label>
                                        <input type="file" id="image" name="image"  accept=".png, .jpg, .jpeg, .PNG, .JPG, .JPEG"
                                               class="border text-13 border-gray-400 text-gray-700 dark:text-zink-200 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-zink-700 dark:border-zink-50 dark:placeholder-gray-300 dark:placeholder:text-zink-200 placeholder:text-13"
                                               required="">
                                    </div>
                                </div>

                                <div class="px-4 pb-6 sm:flex sm:px-6 ">
                                    <button type="button"
                                            class="inline-flex justify-center w-full px-4 py-2 mt-3 ml-auto text-base font-medium text-gray-700 bg-gray-50 border border-gray-300 rounded-md shadow-sm btn dark:text-gray-100 hover:bg-gray-50/50 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm dark:bg-transparent dark:bg-zink-50 dark:border-transparent"
                                            data-tw-dismiss="modal">Cancel
                                    </button>
                                    <button type="submit"
                                            class="inline-flex justify-center w-full px-4 py-2 text-base font-medium text-white bg-green-500 border border-transparent rounded-md shadow-sm btn hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm dark:focus:ring-green-500/30"
                                            id="btn-save-event">Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page-content -->
        {% include 'admin/footer.html' %}
    </div>
    <!-- end main content -->
{% endblock %}