<!DOCTYPE html>
{% load static %}
<html lang="en" class="light scroll-smooth group" data-layout="vertical" data-topbar="light" data-sidebar="dark"
      data-sidebar-size="lg" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Agribusiness </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Skote Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'icon.png' %}">
    <!-- Layout config Js -->
    <script src="{% static 'assets/js/pages/layout.js' %}"></script>
    <!-- Icons CSS -->
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/tailwind2.css' %}">
</head>
<body>
{% block content %}

{% endblock content %}
<!-- </div> -->
<script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'assets/libs/metismenujs/metismenujs.min.js' %}"></script>
<script src="{% static 'assets/libs/@popperjs/core/umd/popper.min.js' %}"></script>
<script src="{% static 'assets/js/pages/plugins.js' %}"></script>
<script src="{% static 'assets/js/pages/nav&tabs.js' %}"></script>
<!-- App js -->
<script src="{% static 'assets/js/app.js' %}"></script>
</body>
</html>